

.heading {
    text-align: center;
    font-family: 'Josefin Sans';
    font-weight: 300;
    color: #ffffff;
    margin-top: 10%;
}

.heading-accent {
    text-align: center;
    color: #6dfaff;
}

